
{% extends 'starter-page.html'%}
{% load static %}
{%block title %}  Booked Appointments {%endblock %}


{% block content%}
{% for message in messages %}
<p class = "alert alert-success">{{ message }}</p>
{% endfor %}

<h2 class="text-center">List of Booked Appointment</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum incidunt nam natus nihil? Accusantium debitis eligendi facilis iste, iure laboriosam laborum molestias mollitia nostrum pariatur quasi qui quis quos?</span><span>Accusantium ad amet enim ex expedita molestiae mollitia odio officia possimus vel. Alias consectetur dolorem laborum laudantium minima perferendis perspiciatis repudiandae, saepe similique unde. Autem nihil porro possimus quibusdam veritatis.</span><span>Alias amet beatae distinctio facere nulla omnis quo reprehenderit unde voluptas voluptates. A doloremque illum numquam omnis totam! Aut est explicabo iure, iusto libero magnam nihil non odio tempora vel.</span></p>
<table class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Date & Time</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Message</th>
        <th>Action</th>
    </tr>
    {% for appointment in all %}
    <tr>
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ appointment.phone }}</td>
        <td>{{ appointment.datetime }}</td>
        <td>{{ appointment.department }}</td>
        <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.message }}</td>
        <td>
            <a href="/edit/{{ appointment.id}}" class="btn btn-outline-warning">Edit</a>
            <a href="/delete/{{ appointment.id }}" class="btn btn-outline-danger">Delete</a>
            <a href="" class="btn btn-outline-success">Pay</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}